<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AutoLogin" value="true"/>
    <add key="RiotGamesClient" value="C:\\Riot Games\\League of Legends\\LeagueClient.exe"/>
    <add key="AutoLoginServer" value="EUNE"/>
    <add key="AutoLoginUser" value="LOGIN"/>
    <add key="AutoLoginPassword" value="PASSWORD"/>
    <add key="GameMode" value="TFT"/>
  </appSettings>
</configuration>